# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
coverage
.nyc_output

# Certificados (se montarán como volúmenes)
certs

# Otros
README.md
.editorconfig
